/*header css*/
.header{
  width: 100%;
  margin: auto;
  height: 100px;
  border: 1px solid blue;

}






/*body css*/
.body{
  background-color: red;
}






/*footer css*/
.footer-container{
  margin: 0 auto;
  border: 1px solid blue;
}
.about-container{
  float: left;
  height: 100%;
  background-color: blue;
  width: 50%;
}
.social-container{
  float: left;
  height: 100%;
  width: 50%;
  background-color: yellow;
}
.social-title{
  margin: 0 auto;
  float: left;
  clear: both;
}
.facebook-twitter{
  margin:0 auto;
  float: left;
}
.footer{
    width: 100%;
    height: 50px;
    border: 1px;
    padding: 1px;
    margin: 0 auto;
}
.footer p{
  font-size: 16px;
  font-family: monospace;
  color: black;
  text-align:center;
}
